
<!-- Dev Icon Link -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- BootStrap Font -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<head>
	<%= stylesheet_link_tag 'welcome'%>
	<%= javascript_include_tag "bar" %>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#head">Top</a>
		<a href="#intro">About</a>
		<a href="#skills">Technology</a>
		<a href="#portfolio">Portfolio</a>
		<a href="#footer">Contact</a>
	</div>
</head>
<!-- Start of Wrapper -->
<div class="wrapper">
	<!-- NavBar -->

	<!-- Use any element to open the sidenav -->
	<span id="navtrigger" onclick="openNav()" class="glyphicon glyphicon-menu-hamburger"></span>

	<!-- NavBar -->
	<!-- Start of Head -->
	<div id="head" class="container-fluid">
			<h1>Nhan To</h1>
	        <h3>Web Developer</h3>
	        <a href="#intro"><button class="glyphicon glyphicon-triangle-bottom"></button></a>
	</div>
	<!-- End of Head -->
	<!-- Start of Body -->
	<div id="body" data-aos="fade-up">
		<div id="intro">
		<h2>Dynamic and Responsive Design</h2>
        <p class="lead">Fluid and Manageable across all platforms using Bootstrap and Ruby on Rails</p>
        <a href="#skills"><button class="glyphicon glyphicon-triangle-bottom"></button></a>
		</div>
		<div id="skills" data-aos="fade-up">
			<div class="row text-center">
				<div class="container">
					<h2>Technology</h2>
					<a href="#portfolio" ><button class="glyphicon glyphicon-triangle-bottom"></button></a>
					<hr class="small">
					<div class="col">
						<div class="service-item">
							<!-- Extra Icon -->
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-cloud fa-stack-1x text-primary"></i>
							</span>
							<!-- Extra Icon -->
							<h4>
							<strong>Client</strong>
							</h4>
							<p>HTML5 CSS3 Javascript Jquery Angular</p>
							<!-- Skill Icon Start -->
							<div id="skillicon">
								<i class="devicon-html5-plain-wordmark colored"></i>
								<i class="devicon-css3-plain-wordmark colored"></i>
								<i class="devicon-javascript-plain colored"></i>
								<i class="devicon-jquery-plain-wordmark colored"></i>
								<i class="devicon-angularjs-plain colored"></i>
							</div>
							<!-- Skill Icon End -->
						</div>
					</div>
					<div class="col">
						<div class="service-item">
							<!-- Extra Icon -->
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-server fa-stack-1x text-primary"></i>
							</span>
							<!-- Extra Icon -->
							<h4>
							<strong>Server</strong>
							</h4>
							<p>PHP RoR Node.js Express.js Nginx</p>
							<!-- Skill Icon Start -->
							<div id="skillicon">
								<i class="devicon-php-plain colored"></i>
								<i class="devicon-ruby-plain-wordmark colored"></i>
								<i class="devicon-nodejs-plain colored"></i>
								<i class="devicon-express-original colored"></i>
								<i class="devicon-nginx-plain colored"></i>
							</div>
							<!-- Skill Icon End -->
						</div>
					</div>
					<div class="col">
						<div class="service-item">
							<!-- Extra Icon -->
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-database fa-stack-1x text-primary"></i>
							</span>
							<!-- Extra Icon -->
							<h4>
							<strong>Database</strong>
							</h4>
							<p>MongoDB MySQL Postgres</p>
							<!-- Skill Icon Start -->
							<div id="skillicon">
								<i class="devicon-mongodb-plain-wordmark colored"></i>
								<i class="devicon-mysql-plain-wordmark colored"></i>
								<i class="devicon-postgresql-plain-wordmark colored"></i>
								<i class="devicon-apache-plain-wordmark colored"></i>
								<i class="devicon-heroku-line-wordmark colored"></i>
							</div>
							<!-- Skill Icon End -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="portfolio" data-aos="fade-in">
			<div class="row">
				<div id="port">
					<h2>Portfolio</h2>
					<a href="#footer" ><button class="glyphicon glyphicon-triangle-bottom"></button></a>
					<hr class="small">
					<!-- Start of Portfolio Container -->
					<div id='lipink'>
						<span style="font-size: 32pt;">LIP INK International</span><br>
						<img src="/lipink.jpg" style="width: 200px; height: 200px">
						<div class="wrapper" style="padding: 80px;display:grid; grid-template-columns: 6; grid-template-rows: repeat (200px);">
							<!-- Start of Role -->
							<div style="grid-column:2; grid-row: 1;">
								<span>Information Technology</span><br>
								<img src="/it.png" style="width: 100px; height: 115px">
							</div>
							
							<div style="grid-column:5; grid-row: 1;">
								<span>Operations Specialist</span><br>
								<div style="display: none;" id="hiddentext">Testing!</div>
								<a href="" onclick="document.getElementById('hiddentext').style.display='block' ;"><img src="/os.png" style="width: 115px; height: 115px" ></a>
							</div>
							<!-- Start of Skills -->
							<div style="grid-column:1; grid-row: 2; padding: 100px;">
								<span>Volusion</span><br>
								<img src="/volusion.png" style="width: 100px; height: 100px">
							</div>
							<div style="grid-column:2; grid-row: 2; padding: 100px;">
								<span>PPC SEO Adwords</span><br>
								<img src="/adwords.png" style="width: 100px; height: 100px">
							</div>
							<div style="grid-column:3; grid-row: 2; padding: 100px;">
								<span>Word Press Management</span><br>
								<img src="/wordpress.jpg" style="width: 100px; height: 100px">
							</div>
							<div style="grid-column:4; grid-row: 2; padding: 100px;">
								<span>Amazon</span><br>
								<img src="/amazon.png" style="width: 100px; height: 100px">
							</div>
							<div style="grid-column:5; grid-row: 2; padding: 100px;">
								<span>Shipping Logistics</span><br>
								<img src="/shipp.png" style="width: 100px; height: 100px">
							</div>
							<div style="grid-column:6; grid-row: 2; padding: 100px;">
								<span>MailChimp iContact Marketing</span><br>
								<img src="/mailchimp.png" style="width: 100px; height: 100px">
							</div>
						</div>
					</div>



					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<strong>E-Commerce</strong>
								<br>
								<a href="https://immense-escarpment-74711.herokuapp.com/">
									<img src="https://i.imgur.com/uElpiBQ.png" border="0">
								</a>
							</div>
							<div class="col-md-4">
								<strong>Company Site</strong>
								<br>
								<a href="company">
									<img src="https://i.imgur.com/W5cvNgS.png" alt="company" border="0">
								</a>
							</div>
							<div class="col-md-4">
								<strong>Lend Me</strong>
								<br>
								<a href="https://arcane-shore-94674.herokuapp.com/">
									<img src="https://i.imgur.com/Gi1HukC.png" alt="blog" border="0">
								</a>
							</div>
						</div>
					</div>
					<!-- End of Portfolio Container -->
					<!-- Start of Work -->

					<div id="work">
						<div class="row">
							<div>
								<h2>Nova Home Loans<br>Nadiyah Jones</h2><br>
								<p>"Nhan was awesome! Listened to everything I asked for and was great with communication. Will definitely use him again."</p>
							</div>
							<div>
								<!--<a href="https://www.nadiyahknowsmortgageloans.com">--><img src="https://i.imgur.com/7HfNxie.png"><!--</a>--><br>
								<!-- <a href="https://www.lasvegashomeloan.org"><button>Work</button></a> -->
							</div>
						</div>
					</div>
					<!-- End of Work -->
				</div>
			</div>
		</div>
	</div>
	<!-- End of Body -->
	<!-- Start of Footer -->
	<div id="footer" class="container" data-aos="fade-up">
		<div>
		<h4>
		<strong>Contact</strong>
		</h4>
		<img id="picture" src="https://i.imgur.com/qcO2mu6.jpg">
		<p>Miracle Mile, CA 90036</p>
		<i class="fa fa-phone fa-fw"></i>
		(818) 274-4744
		<br>
		<a href="mailto:name@example.com">nhan.thanh.to@gmail.com</a>
		<br>
		<a  href="https://github.com/nhanthanto">
		<i id="contact" class="fa fa-github" aria-hidden="true"></i>
		</a>
		<a  href="mailto:nhan.thanh.to@gmail.com">
		<i id="contact" class="fa fa-envelope" aria-hidden="true"></i>
		</a>
		<a  href="https://www.linkedin.com/in/nhanthanhto">
		<i id="contact" class="fa fa-linkedin" aria-hidden="true"></i>
		</a>
		<hr class="small">
		<p class="text-muted">Copyright &copy; nhanto.info 2017</p>
		<a href="#head" class="btn btn-dark btn-lg js-scroll-trigger">
		<button class="glyphicon glyphicon-triangle-top"></button>
		</a>
		</div>
	</div>
	<!-- End of Footer -->
</div>
<!-- End of Wrapper -->
