
/*Rouding of Images*/
img{
	border-radius: 35px;
	padding: 20px;
	width: 250px;
	height: 250px;
}
/*Icon Sizing*/
i{
	font-size: 10rem
}
/*Margin for JS Scroll*/
button{
	margin-bottom: 20px;
}
/*Banner Adjustment*/
#head{
	min-height: 850px;
	background-image: url(https://i.imgur.com/caVNy0G.jpg);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	color: white;
	padding-top: 15%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}
// @media(min-width:576px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}
/*Intro Size*/
#intro{
	min-height: 220px;
	background-size: 100vw 25vh;
}
/*Background Color in Technology*/
#skills{
	min-height: 630px;
	background-color: #337AB7;
	margin: 0px;
}
/*Portfolio Alignment*/
#portfolio{
	text-align: center;
}
#footer{

}

#intro{
	padding: 10%;
	text-align: center;
	vertical-align: center;
}
#skills{
	color: white;
}
#skillicon{
	background-color: white ;
	border-radius: 15px;
	padding: 18.5px;
	margin: 35px;
}
#work{
	padding: 50px;
}
#footer{
	text-align: center;
}
#contact{
	font-size: 4rem;
}
#picture{
	border-radius: 50%;
	width: 130px;
	height: 130px;
}
#port{
	padding-top: 20px;
}




 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#navtrigger{
	position: fixed;
	right:0px;
	font-size: 4rem;
	color: white;
	padding: 10px;
	text-shadow: 0 0 5px black;
}
